[submodule "swagger"]
	path = swagger
	url = https://github.com/CumberlandGroup/swagger-cisco-spark.git
[submodule "webhook"]
	path = webhook
	url = https://github.com/cumberlandgroup/node-spark-webhook
